<<<<<<< HEAD
.contenedor {
    .footer {
        padding: 0 2rem;
        background: $color-principal;
        grid-area: footer;
        text-align: center;
        @include d-flex (row,flex-start,center);
        height: 50px;

        a {
            font-size: 1rem;
            font-weight: 600;
        }
=======
.contenedor .footer {
    background: $color-principal;
    color: #fff;
    grid-area: footer;
    a {
        font-size: 1rem;
        font-weight: 600;
>>>>>>> 3521484b1a9bc13109e8674f4ff7d4ba60da4275
    }
}