* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}

body {
    background: $color-secundario;
<<<<<<< HEAD
    color: #fff;
=======
    color: #000;
>>>>>>> 3521484b1a9bc13109e8674f4ff7d4ba60da4275
}

ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}
